.location {
    background-image: 
        linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), 
        linear-gradient(to left, rgba(32, 101, 191, 0.5), rgba(242, 46, 173, 0.5)), 
        url('../images/andrei-stratu-kcJsQ3PJrYU-unsplash_1.jpg');
    background-size: cover;
    overflow: hidden;
    background-position: center;
    background-attachment: fixed;
}

.location-map-frame {
    border: 0;
    border-radius: 0.9rem;
    width: 100%;
    height: 450px;
    background-image: url('../images/map_.png');  
    background-size: cover;
    overflow: hidden;
    background-position: center;
}

.location-cp-box {
    padding: 20px 60px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 50px;
}

.card-info-cp {
    justify-content: center;
}

.myimg {
    height: 12rem;
    width: 12rem;
    border-radius: 50%;
    background-size: cover;
    overflow: hidden;
    background-position: center;
    margin: 2rem auto;
}

.info-cp-1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-cp-1-content > p, .info-cp-1-content > h3 {
    text-align: center;
    margin-top: 1rem;
}

.info-cp-2 {
    margin: 2rem 0;
}

.info-cp-2 > h3 {
    text-align: center;
}

.info-dev-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: .5rem 0;
}

.info-cp-iconbox {
    display: flex;
    flex-direction: row;
    margin: 0 1.5rem;
    margin-top: 3rem;
    text-align: center;
}

.info-cp-icon {
    color: #2b3440;
    display: inline-block;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    padding: 10px;
    border-radius: 50%;
    background-color: #999;
    text-align: center;
    line-height: 3.5rem;
    margin: 0 .5rem;
    transition: background-color .1s ease-in;
}

ion-icon.info-cp-icon {
    font-size: 8pt;
}

.info-cp-icon:hover {
    background-color: #bdbdbd;
}

/* MEDIA QUERIES */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .myimg { height: 8rem; width: 8rem; }

    .card-info-cp {
        margin: 2rem 0;
    }
    .info-cp-1 { flex-direction: row; }
    .info-cp-1-content { margin-left: 3rem; }

    .info-cp-1-content > p, .info-cp-1-content > h3 {
        text-align: left;
        margin-top: 0;
    }

    .info-cp-1-content > h3 { font-size: 2.5rem; }

    .info-cp-iconbox {
        margin-top: 0;
    }

    .location-map-frame {
        border: 0;
        border-radius: 0.9rem;
        width: 100%;
        height: 100%;             
    }

    .location-cp-box {
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1rem;
        padding: 20px 40px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .card-info-cp {
        margin: 2rem 0;
    }
    .info-cp-1 { flex-direction: row; }
    .info-cp-1-content { margin-left: 3rem; }

    .info-cp-1-content > p, .info-cp-1-content > h3 {
        text-align: left;
        margin-top: 0;
    }

    .info-cp-1-content > h3 {
        font-size: 3rem;
    }

    .info-cp-iconbox {
        margin-top: 0;
    }

    .location-map-frame {
        border: 0;
        border-radius: 0.9rem;
        width: 100%;
        height: 100%;             
    }

    .location-cp-box {
        grid-template-columns: unset;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1.5rem;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .location-cp-box { 
        grid-template-rows: unset;
        grid-template-columns: 1fr 1fr; 
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .location-cp-box { grid-template-columns: 3fr 2fr; }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .location-cp-box { grid-template-columns: 2fr 1fr; }
}

@media only screen and (min-width: 1440px) {
    .location-cp-box { grid-template-columns: 3fr 1fr; }
}

/* Large screen and TV */
@media only screen  and (min-width : 1800px) {
    .location-cp-box { grid-template-columns: 4fr 1fr; }
}