.about {
    padding: 60px;
    display: flex;
    align-items: center;
}

/* LEFT */
.about-logo {
    max-height: 200px;
    display: flex;
    justify-content: center;
}

.about-logo-img {
    max-height: inherit;
}

/* RIGHT */
.about-content {
    padding: 0 40px;
}

.about-h-large {
    text-align: left;
    color: var(--color-black);
    font-weight: 300;
    font-size: 3.5rem;
    line-height: 5rem;
    margin: 10px 0;
}

.about-text {
    text-align: left;
    color: var(--color-text-gray);
    font-weight: 300;
    font-size: 2rem;
    line-height: 3.5rem;
}


/* MEDIA QUERIES */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .about { flex-direction: column; padding: 60px 20px; }
    .about-logo { max-height: 120px; margin-bottom: 4rem; }
    .about-h-large { font-size: 3rem; line-height: 4.5rem; }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
    .about { flex-direction: column; padding: 60px 20px; }
    .about-logo { max-height: 175px; margin-bottom: 3rem; }
    .about-h-large { font-size: 3.2rem; line-height: 4.5rem; }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .about { flex-direction: column; padding: 60px 20px; }
    .about-logo { max-height: 185px; margin-bottom: 3rem; }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .about { padding: 60px; }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .about { flex-direction: row; }
}

/* Large screen and TV */
@media only screen and (min-width : 1800px) {
    
}