@import url('style-header.css');
@import url('style-scroll-btn.css');
@import url('style-about.css');
@import url('style-articles.css');
@import url('style-events.css');
@import url('style-companies.css');
@import url('style-location.css');
@import url('style-footer.css');

/* Colors */
:root {
    --primary-blue: #2065BF;
    --primary-pink: #F22EAD;
    --primary-cyan: #87F2E7;
    --secondary-blue: #0098FF;
    --primary-gradient: linear-gradient(to left, var(--primary-blue), var(--primary-pink));
    --secondary-gradient: linear-gradient(to left, var(--secondary-blue), var(--primary-cyan));
    --color-white: #FFF;
    --color-black: #000;
    --color-text-gray: #999;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 62.5%; /* equals to 10px */
}

body {
    font-family: 'Overpass','Open Sans', sans-serif;
}

/* Disable selection */
::selection {
    background-color: transparent;
}

/* MEDIA QUERY */
@media only screen and (max-width: 900px) and (min-width: 436px) {
    * {
        font-size: 57.5%;
    }
}

@media only screen and (max-width: 600px){
    * {
        font-size: 50%;
    }
}

@media only screen and (max-width: 435px){
    * {
        font-size: 45%;
    }
}